
.li{
    color: white;
}

[type="text"] {
    background-color: white;
    height: 40px;
    border: none;
    outline: none;
    margin-top: 24px;
    border-radius: 10px;
}

.lengthOfTodoList {
    display: flex;
    flex-direction: column;
    width: 80px;
}

